@font-face {
    font-family:'myFont';
    src: url(OptimusPrinceps.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

body {
    display:flex;
    height: 100vh;
}

.image-container {
    width:50%;
}

.eclipse {
    height:100vh;
    width:100%;
}

.sign-up {
    width:90%;
    background:#1E1B18;
    display:flex;
    flex-direction:column;
    gap:0px;
}

.curseMark {
    height:100px;
    width:97px;
    margin-top:5px;
    margin-left:5px;
    align-self:center;
}


.cursed{
    font-size:25px;
    margin-top:15px;
    color:#CD7F32;
    font-family:"myFont";
}

form {
    margin-top:10px;
    display:flex;
    flex-direction:column;
    align-self:center;
    width:450px;
    gap:15px;
}

.title {
    font-family:"myFont";
    color:#CD7F32;
    align-self:center;
    font-size:30px;
}

.social{
    display:flex;
    justify-content:space-around;
}

.social button {
    border-radius:100px;
    height:50px;
    width:50px;
    border:2px solid#CD7F32;
    background-color:#695442;

}

.icon {
    color:#CD7F32;
}

.via-container {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:4px;
}

.via-container::before,
.via-container::after {
    content:"";
    flex:1;
    border-bottom:2px solid #CD7F32;
    margin-left:10px;
    margin-right:10px;
}

.via {
    color:#CD7F32;
    font-family:"myFont";
}

.inputs {
    display:flex;
    flex-direction:column;
    width:300px;
    justify-content:center;
    align-self:center;
    gap:20px;
}

.inputs input {
    border-radius:20px;
    padding:10px;
    background-color:#695442;
    font-family:"myFont";
    color:#f4efde;
}

.submit {
    align-self:center;
    margin-top:20px;
    display:flex;

}

.submit button {
    border-radius:20px;
    padding:10px;
    padding-left:30px;
    padding-right:30px;
    font-family:"myFont";
    background-color:#CD7F32;
    color:#f4efde;
}

input::placeholder {
    color:#CD7F32;
    opacity:0.7;
}

